$near_black: #2A2D34;
$mid_grey: #424651;
$light_grey: #C1C4CC;
$room_blue: #235789;
$light_room_blue: #98C1D9;

.text-center {
  text-align: center;
}

.header-text {
  padding-top: 10vh;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
}

.subheader-text {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  color: $mid_grey;
}

p,li {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  font-weight: 300;
  color: $near_black;
}

.header-sum {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  line-height: 1.4em;
  padding: 10px 10px;
}

.tabs-contain {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.tab {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding: 10px;
  
  transition: background-color .2s, color .2s;
}

.tabs-contain a {
  color: black;
  text-decoration: none !important;
}

.tab:hover {
  color: black;
  background-color: $light_grey;
}

.selected, .tab:active {
  color: white;
  background-color: $mid_grey;
}

*::selection {
  color: #fff;
  background-color: #111;
}

//Projects

.proj-icon {
  padding: 0;
  min-height: 430px;
  
  h3 {
    text-align: center;
    color: black;
    padding: 0 .5em;
    margin: .3em;
  }
  p {
    padding: 0 1em;
    color: black;
  }
  a{
    &:hover {
      text-decoration: none;
    }
  }
}

.image-proj-icon {
  width: 100%;
  display: block;
  margin: 0px auto 15px auto;
  padding: 4px;
  
  border: 1px solid black;
}

.proj-head {
  margin-top: 0px !important;
  color: $near_black;
}

.proj-subhead {
  color: $mid_grey;
}

.contact-list {
  padding-top: 20px;
}

.contact-list a {
  color: #2e5191;
  text-decoration: none !important;
  transition: color .2s;
}

.contact-list a:hover, .contact-list a:active {
  color: #4e7cd2;
  text-decoration: none !important;
}