$bgc: #FFFFFF;
$pc: #444;
$sc: #111;

$feat-c1: #0f9bf2;
$feat-c2: #1857F7;
$feat-c3: #12BECE;

body {
	color: $pc;
	background-color: $bgc;
	width: 100%;
	
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	
	overflow: hidden;
}

// Landing Page

.main-presenter {
	height: 2.5em;
	top: 40vh;
	padding: 0;
}

.main-presenter h1 {
	font-size: 2.5em;
	height: 100%;
	margin: 0;
	
	text-align: right;
}

.jack-of-many {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	
	//position:absolute;
	top: 40vh;
	
	margin: 0;
}

.jack-of-many ul {
	padding: 0;
}

.jack-of-many li {
	font-size: 2.5em;
	
	list-style: none;
	list-style-type: none;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 20em;
	text-align: center;
	left: calc(50% - 10em);
}

// Fonts

.navbar-brand h3 {
	font-family: 'Dosis', sans-serif;
	font-size: 1.7em;
	margin: 0;
}

.navbar-nav {
	font-family: 'Raleway', sans-serif;
}

// Bubbles
#bubbles-back {
	overflow: hidden;
	
/*
	-webkit-backface-visibility:hidden; 
	-moz-backface-visibility:hidden;
	backface-visibility:hidden;	
*/
/*
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
*/
}
.bubble {
	position: absolute;
	
// 	Example values, overridden by JS
/*
	filter: blur(0px) !important; 
	-webkit-filter: blur(0px) !important;
*/
	
	z-index: -1;
	opacity: 0.2;
	
	height: 4em;
	width: 4em;
	
	border-radius: 2em;
	border-width: 2em;
	border-color: #969696;
	border-style: solid;
	
	transition: border 0.7s, transform 2s linear;
	
	// Fixes for animation causing page to flicker
	-webkit-backface-visibility:hidden; 
	-moz-backface-visibility:hidden;
	backface-visibility:hidden;	
	/*
-webkit-transform:translateZ(0);
	-moz-transform:translateZ(0);
	transform:translateZ(0);
*/
}

// Feature hovering color transition cool stuff

.bubble-toggle-c1 {
	border-color: $feat-c1;
}
.bubble-toggle-c2 {
	border-color: $feat-c2;
}
.bubble-toggle-c3 {
	border-color: $feat-c3;
}


/* Bootstrap Custom Navbar coloring */
$nav-bgc: transparent;
$nav-darkc: #1b1b1b;
$nav-lightc: #868686;
$nav-primc: #0f9bf2;

//color: #0f9bf2;

$nav-mob-light: #e6e6e6;
$nav-mob-dark: #d8d8d8;

.navbar-default {
  background-color: $nav-bgc;
  border-bottom: 1px solid $nav-bgc;
}
#main-navbar{
	-moz-transition: border-color 0.6s;
  -webkit-transition: border-color 0.6s;
  transition: border-color 0.6s;
}
.navbar-default .navbar-brand {
  color: $nav-darkc;
  font-size: 1.4em;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: $nav-darkc;
}
.navbar-default .navbar-text {
  color: $nav-darkc;
}
.navbar-default .navbar-nav > li {
  padding-left: 0px;
}
.navbar-default .navbar-nav > li > a {
  color: $nav-darkc;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $nav-primc;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: $nav-darkc;
  background-color: transparent;
}
/* When we hover on an active element, color it */
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: $nav-primc;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: $nav-primc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #acacac;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: $nav-darkc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: $nav-darkc;
}
.navbar-default .navbar-link {
  color: $nav-darkc;
}
.navbar-default .navbar-link:hover {
  color: $nav-darkc;
}

.navbar-default .navbar-nav > li > a {
  -moz-transition: color 0.2s, border 0.2s, background-color 0.2s;
  -webkit-transition: color 0.2s, border 0.2s, background-color 0.2s;
  transition: color 0.2s, border 0.2s, background-color 0.2s;
}

@media (min-width: 767px) { /*Only on desktop*/
	/* Code for the underline on click/hover/active */
	.navbar-default .navbar-nav > .active > a:after,
	.navbar-default .navbar-nav > .active > a:hover:after,
	.navbar-default .navbar-nav > .active > a:focus:after {
	  color: $nav-lightc;
	  background-color: transparent;
		border-bottom: 2px solid $nav-primc;
		content: "";
		padding-top:5px;
	  width:80%;
	  display:block;
	  margin:0 auto;
	}
	.navbar-default .navbar-nav > .active > a:after {
		border-color: $nav-lightc;
	}
	.navbar-default .navbar-nav > .open > a:after,
	.navbar-default .navbar-nav > .open > a:hover:after,
	.navbar-default .navbar-nav > .open > a:focus:after {
		color: $nav-lightc;
	  background-color: transparent;
		border-bottom: 2px solid $nav-primc;
		content: "";
		padding-top:5px;
	  width:80%;
	  display:block;
	  margin:0 auto;
	}
	.navbar-default .navbar-nav > li > a:hover:after,
	.navbar-default .navbar-nav > li > a:focus:after {
		color: $nav-lightc;
	  background-color: transparent;
		border-bottom: 2px solid $nav-primc;
		content: "";
		padding-top:5px;
	  width:80%;
	  display:block;
	  margin:0 auto;
	}
}

@media (max-width: 767px) {
/* 	We don't want the list items pulled right if on mobile */
	.pull-right { 
	  float: none !important;
	}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $nav-darkc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: $nav-darkc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: $nav-darkc;
    background-color: $nav-mob-light;
  }
  
  .navbar-default .navbar-collapse {
	  background-color: $nav-mob-light;
  }
  .navbar-default .navbar-nav > li > a {
  	color: $nav-darkc;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
	  color: $nav-darkc;
	  background-color: $nav-mob-dark;
	}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
	  color: $nav-darkc;
	  background-color: $nav-mob-dark;
	}
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus {
	  color: $nav-bgc;
	  background-color: $nav-mob-dark;
	}
}
